.photoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 150px;
    height: 150px;
    margin: 5px;
    cursor: pointer;

    &:hover {
      animation: selection 0.5s ease-in-out forwards;
    }
  }
}

@keyframes selection {
  from {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  to {
    width: 156px;
    height: 156px;
    margin: 2px;
  }
}
