.user-block {
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #666d89;
}

.user-info {
  max-width: 300px;
  margin: 0px 40px;
}

.user-photo {
  display: block;
  width: 300px;
  height: 300px;
  background-image: url('../../assets/images/user.svg');
  background-size: contain;
}

.user-name {
  padding: 5px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
}

.user-description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767e9e;
}
